
/* smartphone */
/* 320px~767px */
@media all and (min-width:320px) {
    * {
        padding-left: 0%;
    }

    p {
        width: 100%;
    }

    .boxes_heading-web > h1 {
        width: 200px;
        white-space: normal;
    }

    .boxes_heading-web h1:nth-child(1) {
        text-align: left;
    }

    .boxes_sub-heading-table > h3 {
        word-wrap: break-word;
    }

} 

/* tablet */
/* 768px~1023 */
@media all and (min-width: 768px) {
    p {
        width: 40%
    }

    .boxes_heading-stand > p {
        padding-left: 1%;
    }   
    
    .boxes_heading-design {
        padding-left: 30%;
    }

    .boxes_heading-design > p {
        padding-left: 5%;
        width: 80%;
    }

    .boxes_heading-web {
        padding-left: 10%;
    }

    .boxes_heading-web >h1 {
        width: 260px;
    }

    .boxes_heading-web h1:nth-child(1) {
        text-align: right;
    }

    .boxes_heading-stand-second h1 {
        width: 45%;
        text-align: right;
    }

    .boxes_heading-stand-second p {
        text-align: right;
    }

    .boxes_sub-heading {
        text-align: center;
    }
    
    .boxes_sub-heading > p {
        text-align: center;
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
    }

}


/* PC */
/* 1024px~ */
@media all and (min-width: 1024px) {
    p {
        width: 40%
    }

    [class*="boxes_heading-stand"] > p {
        padding-left: 2%;
    }

    .boxes_heading-design {
        padding-left: 70%;
    }

    .boxes_heading-design > p {
        padding-left: 15%;
        width: 90%;
    }
    
    .boxes_heading-web {
        width: 60%;
        min-width: 60px;
    }

    .boxes_heading-web >h1 {
        width: 260px;
    }

    .boxes_heading-web h1:nth-child(1) {
        text-align: right;
    }

    .boxes_heading-web > p {
        max-width: 30%;
        text-align: right;
    }

    .boxes_heading-stand-second h1 {
        width: 45%;
        text-align: right;
    }

    .boxes_sub-heading {
        text-align: center;
    }
    
    .boxes_sub-heading > p {
        text-align: center;
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
    }    

} 