/* smartphone */
@media all and (min-width:320px) {
    * {
        padding-left: 0%;
    }

    p {
        width: 100%;
    }
} 

/* tablet */
@media all and (min-width: 768px) {
    p {
        width: 40%
    }

    .boxes_heading-stand > p {
        padding-left: 1%;
    }   
    
    .boxes_heading-design {
        padding-left: 30%;
    }

    .boxes_heading-design > p {
        padding-left: 10%;
        width: 80%;
    }

    .boxes_heading-web {
        padding-left: 10%;
    }
}

/* PC */
@media all and (min-width: 1024px) {
    p {
        width: 40%
    }

    .boxes_heading-stand > p {
        padding-left: 2%;
    }

    .boxes_heading-design {
        padding-left: 70%;
    }

    .boxes_heading-design > p {
        padding-left: 20%;
        width: 90%;
    }

    .boxes_heading-web {
        padding-left: 20%;
    }

} 



